force-app/main/default/flows/Agentforce_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Agent_Conversation_Analysis</name>
        <label>Agent Conversation Analysis</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <actionName>Agent_Conversation_Analysis</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Agent_Create_Child_Cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Case</name>
            <value>
                <elementReference>Get_Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:MessagingSession</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Agent_Conversation_Analysis</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Agent_Create_Child_Cases</name>
        <label>Agent Create Child Cases</label>
        <locationX>308</locationX>
        <locationY>600</locationY>
        <actionName>AgentConversationToCasesProcessor</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Child_Case_failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>custName</name>
            <value>
                <elementReference>custName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonInput</name>
            <value>
                <elementReference>promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentCaseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgentConversationToCasesProcessor</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Agent_Create_Parent_Case</name>
        <label>Agent Create Parent Case</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>AgentCreateCase</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messagingSessionId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgentCreateCase</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>caseId</assignToReference>
            <name>caseId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>caseNumber</assignToReference>
            <name>caseNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>custName</assignToReference>
            <name>custName</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Child_Case_failure</name>
        <label>Child Case failure</label>
        <locationX>572</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>outMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Child Case Creation Failure: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>CONST_AGENTFORCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Agentforce</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_Category1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Inquiry</stringValue>
        </value>
    </constants>
    <description>This is to create a case for Petronas Service Agent</description>
    <environments>Default</environments>
    <interviewLabel>Agentforce Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agentforce Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_Conversation_Analysis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <filters>
            <field>Escalated_by_Agentforce__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Handled_by_Agentforce__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MessagingSession</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Agent_Create_Parent_Case</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>custName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>promptResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
