force-app/main/default/flows/Agent_Application_Status_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Agent_Fetch_Smartpay_Application</name>
        <label>Agent Fetch Smartpay Application</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>AgentFetchSMPApplication</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Find_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>smpApplicationNumber</name>
            <value>
                <elementReference>inputSmpApplicationNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgentFetchSMPApplication</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>caseId</assignToReference>
            <name>caseId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>caseStatus</assignToReference>
            <name>caseStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>smpApplicationId</assignToReference>
            <name>smpApplicationId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>This will invoke SmartPay Application Status Determination Prompt to determine application status to be shown to customer.</description>
        <name>Invoke_SmartPay_Application_Status_Determination_Prompt</name>
        <label>Invoke SmartPay Application Status Determination Prompt</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>SmartPay_Application_Status_Determination_Prompt</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:caseStatus</name>
            <value>
                <elementReference>caseStatus</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SmartPay_Application_Status_Determination_Prompt</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>outPrompt</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Record_Error</name>
        <label>Record Error</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CONST_RECORD_ERROR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outPrompt</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your provided application number format is correct but your application doesn&apos;t exist in the system. Please provide correct details.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>CONST_APP_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>System Error: Cannot find the application. Please contact system admin.</stringValue>
        </value>
    </constants>
    <constants>
        <name>CONST_CASE_ERROR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>System Error: Cannot find case. Please contact system admin.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Find_Record</name>
        <label>Find Application or Case</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Invoke_SmartPay_Application_Status_Determination_Prompt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_is_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>smpApplicationId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>smpApplicationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Error</targetReference>
            </connector>
            <label>Application not found</label>
        </rules>
    </decisions>
    <description>Check customer&apos;s smartpay application status</description>
    <environments>Default</environments>
    <interviewLabel>Agent Application Status Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Application Status Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Agent_Fetch_Smartpay_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CONST_RECORD_ERROR</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;System Error: Application is {!smpApplicationId} OR Case is {!caseId} . Please contact system admin.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>caseCategory2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Smartpay</stringValue>
        </value>
    </variables>
    <variables>
        <name>caseCategory4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Anything</stringValue>
        </value>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputSmpApplicationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>smpApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
